.home__container {
  display: flex;
  justify-content: space-between;
  padding-left: 165px;
  padding-right: 130px;
}

.home__left {
  width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
  gap: 48px;
}

.home__right {
  margin-top: 100px;
}

.home__left-header {
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1.11111px;
  color: #151515;
}

.home__left-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #686868;
}

.home__left-button {
  background: #151515;
  border-radius: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #fafafa;
  padding: 15px;
  align-self: flex-start;
  margin-bottom: 120px;
  cursor: pointer;
  width: 163px;
  border: 1px solid #151515;
}
.home__left-button:hover {
  background: #fafafa;
  border: 1px solid #151515;
  color: #151515;
}

.right__home-img {
  width: 480px;
  height: 640px;
}

.left__footer {
  display: flex;
  padding: 6px;
  gap: 40px;
}

.left__img {
  height: 24px;
}

@media (max-width: 375px) {
  .home__container {
    display: grid;
    padding-left: 0;
    padding-right: 0;
    margin-top: 24px;
  }
  .home__right {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }

  .home__left {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 47px;
    gap: 48px;
    padding: 0 16px;
  }
  .home__left-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .home__left-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #686868;
  }
  .home__left-button{
    width: 136px;
    align-self: center;
    margin-bottom: 24px;

  }

  .right__home-img_mobile {
    width: 375px;
    height: 281px;
    cursor: pointer;
  }
  .left__footer{
      width: 343px;
      gap: 28px;
      padding: 0 16px;
      margin-bottom: 94px;

  }

  #data{
    width: 81px;
    height: 15px;
  }
  #audio{
      width: 52px;
      height: 26px;
  }
  #meet{
      width: 64px;
      height: 15px;
  }
  #maker{
      width: 60px;
      height: 18px;
  }
}
